/** Assignments **/

.assignment{ margin-bottom:22px; }
.header{ padding:16px; color:white; position: relative;}
.header h2{ font-size:36px; margin-bottom:5px;}

.header .points{
	padding:15px;
	background-color:white;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 50%; font-size:22px;
	color:black;
	font-weight: bold;
	position:absolute;
	bottom:-26px; right:16px;
}

/*.assignment.easy .header{ background-color:#7FBA00; }*/
.assignment.easy .header{ background-color:#259b24; }
.assignment.normal .header{ background-color:#FFB901; }
.assignment.hard .header{ background-color:rgb(244,67,54); }
.assignment.workshop .header{ background-color:#01A4EF; }
/** Assignment end **/


/** The tower **/
#background{
	position: absolute;
	background-image: url("img/Background.png");
	width:100%;
	height:100%;
	background-size: cover;
	background-position: 0% 80%;
	border:2px solid green;
	background-repeat: no-repeat
}

#canvas{
	position: relative;
	bottom:0px;
	width:100%;
	height:500px;
	overflow:hidden;
}

#canvas img{
	position:absolute;
	left:0px;bottom:0px;
	width:100%;	
	transition: bottom ease-in-out 1s;
}

#canvas #loader{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color:  rgba(255, 255, 255, 0.9);
	-webkit-transition:height linear 1s;
  	transition:height linear 1s;
}


#canvas .cloud{
	animation-name: cloud;
    animation-duration: 70s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	left:-100%;
}

#canvas .cloud.reverse{
	animation-name: cloud-reverse;
	left:100%;
}

@keyframes cloud {
    0%   {left:-100%}
    100% {left:100%;}
}

@keyframes cloud-reverse {
    0%   {left:100%}
    100% {left:-100%;}
}



#canvas .banner{
	color: black;
	position: absolute;
	left:0px;
	bottom:20px; 
	padding:16px;
	margin-left:20px;
	-webkit-transition:all linear 1s;
  	transition:all linear 1s;
	/*background-color: rgba(0, 51 , 98 , 0.2);*/
	background-color: rgba(255, 255 , 255 , 0.8);
	min-width: 200px; max-width: 100%;
	opacity: 1;
}

#canvas .banner.ng-hide{
	opacity: 0;
	left:-100%;
}

.withSkyline{
	background-image: url("img/skyline.png");
	background-repeat: no-repeat;
	background-position: 80% 100%;
	background-size: contain;
}



/** End of Tower **/

.relative{
	position: relative;
}

.preImage{
	position: absolute;
	width:100px;
	left: -110px;
	border:2px solid white;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

.hoverTitle{
	position:absolute;
	
}

.text-center{
	text-align: center;
}

.margin-top{
	margin-top:45px;
}




/** My .NET code prittefy styles **/
.com       { color: #008000; }
.str, .tag { color: #A31515; }
.kwd, .atv { color: #0000FF; }
.typ       { color: #2B91AF; }
.lit, .atn { color: #FF0000; }
.pun, .pln { color: #000000; }
.dec       { color: #800080; }
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }
pre.prettyprint {border:0px !important;}

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


/** Video wrapper iframe **/

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden;
	 max-width: 100%; 
	 height: auto; } 
	 
.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; left: 0; 
	width: 100%; height: 100%; 
}

	
.pp-sidenav-left .md-sidenav-backdrop{
	position: fixed;
}

.pp-sidenav-left .md-sidenav-left{
	position: fixed;
	z-index: 999;
}

.pp-sidenav-left span{
	border-left:7px solid darkgray;
	padding:5px 20px;
}

.pp-sidenav-left a{
	padding:5px;
	display: block;
}

.pp-sidenav-left span:hover, .open{
	border-left:7pxsolid rgb(33,150,243);;
}

.pp-sidenav-left ol{
	border-left:7px solid rgb(33,150,243);;
}


.assignmentOverview .assignment{
	margin-bottom:6px;
	border-left:7px solid darkgray;
}

.assignmentOverview .assignment	.assignmentHeader{
		padding:22px;
		position: relative;
	}

.assignmentOverview .assignment	md-card-content{
		background-color:white;
	}

.assignmentOverview .assignment.complete {
		border-color: #259b24;
}

.assignmentOverview .assignment.complete .assignmentHeader{
			padding:8px;
}

.assignmentOverview .assignment.complete h2{
			margin:0px;
}
	
.grayed{
	background-color:#f9f9f9;
}

.bullets{

	position:absolute;
    right:16px;
    height:58px; margin-top:-34px;
}

.bullets.bottom{top: 100%; }
.bullets.central{top: 50%; }
    
 .bullets  .md-fab{
        background-color:white;
        color:black;
}
  
 .bullets   .points{
        width:56px;
        height:56px;
        margin:6px;
        font-size:22px;
        font-weight: bold;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        box-sizing: border-box;
        padding-top:14px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        color:white;
        background-color:rgb(33,150,243);
        vertical-align: middle;
 }

.bullets .points, ng-md-icon{
		fill: white;
}



@media screen and (min-width: 960px) {
    
    .md-sidenav-left{
		margin:8px;
		
	}

}