<md-toolbar class="md-theme-indigo withSkyline" >
	<h1 class="md-toolbar-tools">Home</h1>
</md-toolbar>

  <section class="md-padding max-sized" ng-controller="towerCtrl">
      <md-card>

			
			<section layout="row" layout-align="space-around center"> 
				<md-button class="md-primary" ng-click="toLevel(0)">WPF</md-button>
				<md-button class="md-primary" ng-click="toLevel(30)">EF</md-button>
				<md-button class="md-primary" ng-click="toLevel(70)">WCF</md-button>
				<md-button class="md-primary" ng-click="toLevel(100)">MVC</md-button>
			</section>
		
			
			
          	<section id="canvas">
				<img id="loader" src="default/img/loading.gif" style="bottom: 0px">
				<img id="firstToLoad" src="default/img/Background.png" style="bottom: -{{0.4 * level}}">
				<img src="default/img/wolk1.png" class="cloud" style="bottom: -{{0.5 * level}}">
				<img src="default/img/MVC.png" style="bottom: -{{ level }}">
				<img src="default/img/WCF.png"  style="bottom: -{{1.2 * level }}">
				<img src="default/img/EF-AAN.png"  style="bottom: -{{1.4 * level }}">
				<img src="default/img/WPF-AAN.png"  style="bottom: -{{1.6 * level }}">
				<img src="default/img/wolk2.png" class="cloud reverse" style="bottom: -{{level}}">
				
				<section class="banner" id="wpf"  ng-show="isNear(0)" layout="row" >
					
					<section flex>
					
						<p>WPF</p>
						
						<ul>
							<li>XAML</li>
							<li>Binding</li>
							<li>MVVM</li>
						</ul>
					</section>
					
					
					<ng-md-icon icon="check_circle" style="fill: green";  size="36">
						<md-tooltip>
							This subject is completed
						</md-tooltip>
					</ng-md-icon> 
					
					
					
				</section>
				
				<section class="banner" id="ef"  ng-show="isNear(30)" layout="row"  >
					
					<section flex>
					
						<p>Entity Framework</p>
					
						<ul>
							<li>Database</li>
							<li>ORM</li>
							<li>Code First</li>
						</ul>
					</section>
					
					
					<ng-md-icon icon="check_circle" style="fill: green";  size="36">
						<md-tooltip>
							This subject is completed
						</md-tooltip>
					</ng-md-icon> 
					
					
				</section>
				
				<section class="banner" id="wcf" ng-show="isNear(70)">
					<p>Windows Communication Foundation</p>
					
					<ul>
						<li>ASP.NET</li>
						<li>Service</li>
						<li>Azure</li>
					</ul>
					
				</section>
				
				<section class="banner" id="mvc" ng-show="isNear(100)" layout="row" layout>
					
					<section flex>
						<p>MVC</p>
						
						<ul>
							<li>ASP.NET</li>
							<li>Website</li>
							<li>Razor</li>
						</ul>
					</section>
					
					<ng-md-icon icon="lock"  size="36">
						<md-tooltip>
							This subject is locked
						</md-tooltip>
					</ng-md-icon> 
					
				
				</section>
			</section>
			
			<md-slider flex ng-model="level" min="0" max="{{realHeight}}" aria-label="level" class="md-primary">
			</md-slider>
				
		
     
     
      </md-card>
  </section>
