
<md-toolbar class="md-theme-indigo left-column">

</md-toolbar>

<section class="pp-sidenav-left">

<md-sidenav class="md-sidenav-left md-whiteframe-z2 md-closed ng-isolate-scope md-locked-open" 
	md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" tabindex="-1">



	<md-toolbar layout="row" hide-gt-md class="md-hue-2">
      <div class="md-toolbar-tools" layout="row">
        <section flex></section>
		<md-button ng-click="toggleLeft()" class="md-icon-button md-accent" aria-label="Menu">
          <ng-md-icon icon="close" style="fill: white" size="26"></ng-md-icon> 
            <md-tooltip>
                Side Nav
            </md-tooltip>
        </md-button>

      </div>
	</md-toolbar>

	
	<!-- Dit menu heeft 2 displays, als schuif menu, en inline menu -->
	<!-- De items met hide-gt-sm zijn niet zichtbaar als het scherm groot is -->

	<pp-side-nav>
		<ul>
			<li hide-gt-sm>
				<span id="net">Algemeen</span>
				<ol>
					<li><a ui-sref="home">Home</a></li>
					<li><a ui-sref="extra">Extra</a></li>
					<li><a ui-sref="leaderboards">Leaderboards</a></li>
				</ol>
			</li>
						<li><span id="testing">Testing</span>
					<ol>
						<li><a ui-sref="testingIntroductie">Introductie</a></li>
						<li><a ui-sref="testingBasics">Basics</a></li>
						<li><a ui-sref="testingAdvanced">Advanced</a></li>
					</ol>
				</li>
				<li>
					<span id="patterns">Patterns</span>
					<ol>
						<li><a ui-sref="patternsIntroductie">Introductie</a></li>
						<li><a ui-sref="patternsRepository">Repository pattern</a></li>
						<li><a ui-sref="patternsIoc">Inversion of control</a></li>
						<li><a ui-sref="patternsDependency">Dependency injection</a></li>
					</ol>
				</li>
				<li>
				<li>
					<span id="wcf">WCF</span>
					<ol>
						<li><a ui-sref="wcfIntroductie">Introductie</a></li>
						<li><a ui-sref="wcfWCF">WCF</a></li>
						<li><a ui-sref="wcfAzure">Azure</a></li>
						<li><a ui-sref="wcfConsume">Consumeren</a></li>
					</ol>
				</li>
				<li>
					<span id="mvc">MVC</span>
					<ol>
						<li><a ui-sref="mvcIntroductie">Introductie</a></li>
						<li><a ui-sref="mvcControllers">Controllers</a></li>
						<li><a ui-sref="mvcView">View</a></li>
						<li><a ui-sref="mvcForms">Forms</a></li>
						<li><a ui-sref="mvcValidatie">Validatie</a></li>
					</ol>
				</li>
			<li>
				<span id="opdrachten">Opdrachten</span>
				<ol start="0">
					<li><a ui-sref="opdrachtenOverview">Overview</a></li>
					<li><a ui-sref="opdrachten1">Week 1</a></li>
					<li><a ui-sref="opdrachten2">Week 2</a></li>
					<li><a ui-sref="opdrachten3">Week 3</a></li>
					<li><a ui-sref="opdrachten4">Week 4</a></li>
					<li><a ui-sref="opdrachten5">Week 5</a></li>
					<li><a ui-sref="opdrachten6">Week 6</a></li>					
					<li><a ui-sref="uitwerkingen">Uitwerkingen</a></li>
				</ol>
			</li>
		</ul>
	</pp-side-nav>


</section>
</md-sidenav>
